<div class="edu-container">
  <button mat-button color="primary" (click)="refresh()">Checkout New List</button>
  <h1>Programming Language</h1>
  <div class="main-edu" *ngIf="educationList && educationList.length && !loading">
    <div class="edu-card" *ngFor="let edu of educationList">
      <div class="card-head" [style.background-image]="'url(https://picsum.photos/id/' + edu.id + '/300/200)'">
        <div class="edu-like">
          <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div class="edu-teacher">
          <img src="https://picsum.photos/id/50/50" alt="teacher picture">
          <p>{{ edu.instructor.name }}</p>
        </div>
      </div>
      <div class="card-main">
        <h2 (click)="gotoCourse(edu.id)">{{ edu.title }}</h2>
        <div class="edu-info-container">
          <div class="edu-info">
            <mat-icon class="edu-info-icon">card_travel</mat-icon>
            <p class="edu-info-text">{{ edu.level }}</p>
          </div>
          <div class="edu-info">
            <mat-icon class="edu-info-icon">people</mat-icon>
            <p class="edu-info-text">{{ edu.num_students }}</p>
          </div>
          <div class="edu-info">
            <mat-icon style="color: gold;" class="edu-info-icon">star</mat-icon>
            <p class="edu-info-text">{{ edu.rating }}</p>
          </div>
        </div>
      </div>
      <div class="card-bottom">
        <p class="edu-price">$ {{ edu.price | number: '1.2-2' }}</p>
        <button mat-button color="primary">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </div>
    </div>
  </div>
  <app-loader *ngIf="loading"></app-loader>
</div>